.banner__background {
  height: 436px;
  padding: 32px 80px;
}

.banner__text {
  padding: 30px 0;
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.banner__text__sentence {
  color: var(--white);
  font-size: 1.25rem;
  font-family: var(--font);
}

.month {
  color: var(--blue);
  font-weight: bold;
}

.sale {
  color: var(--red);
  font-weight: bold;
}

.banner__text__btn {
  height: 50px;
  width: 130px;
  margin-top: 5rem;
  padding: 16px auto;
  width: 150px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
}

.banner__text__btn:hover{
  box-shadow: 0px 2px 10px 0px var(--blue);
}

@media screen and (max-width: 1023px) {
  .banner__background {
    padding: 22px 32px;
  }

  .banner__text {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .banner__background {
    padding: 16px;
  }

  .banner__text {
    padding: 10px 0;
  }

}
