.contact {
  background: url(../Images/Home/sombras-de-los-vengadores_2880x1800_xtrafondos.com.jpg)
    no-repeat center / cover;
}

.contact__container {
  background-color: var(--black-section);
  padding: 64px 80px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: baselinez;
}

.contact__left {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.contact__left__logo {
  height: 50px;
  width: 49.40748px;
  margin-right: 5px;
}

.contact__left__text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  font-family: var(--font);
}

.contact__left__text--red {
  color: var(--red);
}

.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__msg__text {
  margin-bottom: 5px;
}

.contact__msg {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.contact__msg__name {
  width: 28rem;
  height: 30px;
  padding: 8px;
  color: black;
  font-weight: normal;
  border-radius: 5px;
}

.contact__msg__txtArea {
  resize: none;
  width: 28rem;
  height: 90px;
  padding: 8px;
  color: black;
  font-weight: normal;
  border-radius: 5px;
}

.contact__msg__btn {
  background-color: var(--blue);
  color: var(--white);
  align-self: self-end;
  font-weight: bold;
  width: 168px;
  font-weight: normal;
  margin-top: 15px;
}

.contact__msg__btn:hover {
  box-shadow: 0px 2px 10px 0px var(--blue);
}

@media screen and (max-width: 1200px) {
  .contact__container {
    padding: 50px;
  }
  .contact__msg__name,
  .contact__msg__txtArea {
    width: 22rem;
  }
}

@media screen and (max-width: 1023px) {
  .contact__container {
    height: 364px;
    padding: 32px;
  }
  .contact__left__logo {
    height: 38px;
    width: 38.40748px;
    margin-right: 4px;
  }
  .contact__list {
    position: absolute;
    margin-top: 2rem;
    line-height: 37px;
  }
  .contact__left__text {
    font-size: 1.2rem;
  }
  .contact__msg__name,
  .contact__msg__txtArea {
    width: 18rem;
  }
  .contact__msg__btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__container {
    height: 553px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
  }
  .contact__left {
    align-self: center;
  }
  .contact__left__logo {
    height: 28px;
    width: 28.40748px;
    margin-right: 2px;
  }
  .contact__list {
    position: relative;
    text-align: justify;
  }
  .contact__msg,
  .contact__msg__name,
  .contact__msg__txtArea {
    width: calc(100% - 16px);
  }

  .contact__msg {
    gap: 10px;
  }

  .contact__msg__text {
    margin: 15px 0 10px;
  }

  .contact__msg__btn {
    width: 150px;
    font-size: 0.75rem;
    margin-top: 5px;
  }
}
