.header {
  padding: 0 80px;
  width: 100%;
  height: 84px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-section);
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left__img {
  display: flex;
  align-items: center;
}

.header__left__logo {
  height: 50px;
  width: 49.40748px;
  margin-right: 5px;
}

.header__left__text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  font-family: var(--font);
}

.header__left__text--red {
  color: var(--red);
}

.header__left__search {
  background-color: var(--white);
  padding: 8px;
  height: 18px;
  width: 400px;
  margin-left: 48px;
  display: flex;
  border-radius: 5px;
}

.header__left__search__box {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header__left__search__glass {
  height: 100%;
  width: 30px;
  padding-left: 8px;
  background-color: var(--white);
}
