.header {
  display: flex;
  align-content: center;
}

.header__btn {
  background: var(--red);
  color: var(--white);
  font-weight: bold;
}

.header__btn:hover {
  box-shadow: 0px 2px 10px 0px var(--red);
}

@media screen and (max-width: 1200px) {
  .header__btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .header__btn {
    font-size: 0.75rem;
    position: absolute;
    left: 42.5%;
    bottom: 25%;
  }
}
