.products__head {
    gap: 8px;
}

.products__btn {
  height: 50px;
  width: 130px;
  padding: 16px auto;
  width: 200px;
  background: var(--red);
  color: var(--white);
  font-weight: bold;
}

.products__btn:hover {
  box-shadow: 0px 2px 10px 0px var(--red);
}

@media screen and (max-width: 768px) {
  .produts__title {
    font-size: 1.2rem;
  }
  .products__btn{
    width: 120px;
    font-size: 0.8rem;
  }
}
